<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Setting
    </title>
    <link rel="stylesheet" href="/assets/css/setting-style.css">
</head>

<body>

    <div class="app">

        <main class="app-body">
            <section class="section">
                <!-- <div class="card"> -->
                <div class="card-content">

                    <div class="card-content center">

                        <!-- ------------------------------------------------------  -->
                        <div class="slider-image">
                            <img src="/assets/images/profile.png" alt="Profile" />
                        </div>

                        <h2 class="text-color-black">
                            User Name
                        </h2>
                        <!-- ------------------------------------------------------  -->
                    </div>


                    <!-- ------------------------------------------------------  -->
                    <div class="input-group">
                        <img src="/assets/images/svg/profile-small.svg" alt="skip" class="input-group-text" />
                        <input type="text" class="form-control click-info" value="Personal information" aria-label="Enter your email" readonly>
                        <img src="/assets/images/svg/skip-small.svg" alt="skip" class="input-group-text click-info" />
                    </div>
                    <!-- ------------------------------------------------------  -->


                    <!-- ------------------------------------------------------  -->
                    <div class="input-group">
                        <img src="/assets/images/svg/supervise.svg" alt="skip" class="input-group-text" />
                        <input type="text" class="form-control" value="Parents supervise" aria-label="Parents supervise" readonly>
                        <img src="/assets/images/svg/skip-small.svg" alt="skip" class="input-group-text" />
                    </div>
                    <!-- ------------------------------------------------------  -->


                    <!-- ------------------------------------------------------  -->
                    <div class="input-group">
                        <img src="/assets/images/svg/lang.svg" alt="skip" class="input-group-text" />
                        <input type="text" class="form-control" value="The language" aria-label="The language" readonly>
                        <img src="/assets/images/svg/skip-small.svg" alt="skip" class="input-group-text" />
                    </div>
                    <!-- ------------------------------------------------------  -->

                    <!-- ------------------------------------------------------  -->
                    <div class="input-group">
                        <img src="/assets/images/svg/notify.svg" alt="skip" class="input-group-text" />
                        <input type="text" class="form-control" value="Notifications" aria-label="Notifications" readonly>
                        <img src="/assets/images/svg/skip-small.svg" alt="skip" class="input-group-text" />
                    </div>
                    <!-- ------------------------------------------------------  -->

                    <hr>

                    <!-- ------------------------------------------------------  -->
                    <div class="input-group">
                        <img src="/assets/images/svg/error.svg" alt="skip" class="input-group-text" />
                        <input type="text" class="form-control" value="Frequently Asked Questions" aria-label="Frequently Asked Questions" readonly>
                    </div>
                    <!-- ------------------------------------------------------  -->


                    <!-- ------------------------------------------------------  -->
                    <div class="input-group">
                        <img src="/assets/images/svg/error.svg" alt="skip" class="input-group-text" />
                        <input type="text" class="form-control" value="privacy policy" aria-label="privacy policy" readonly>
                    </div>
                    <!-- ------------------------------------------------------  -->


                    <!-- ------------------------------------------------------  -->
                    <div class="input-group">
                        <img src="/assets/images/svg/error-red.svg" alt="skip" class="input-group-text" />
                        <input type="text" class="form-control" value="Log out" aria-label="Log out" readonly style="color: red">
                    </div>
                    <!-- ------------------------------------------------------  -->


                </div>
                <div class="btn-container">
                    <button class="btn-custom">
                        Delete Acount
                    </button>

                </div>

                <!-- </div> -->
            </section>





        </main>

        <footer class="app-footer">
            <nav class="menu-bar">

                <!-- #################################################################### -->
                <a href="javascript:void(0)" class="menu-bar-item menu-bar-item--active click-home">
                    <!--start svg city-->
                    <img src="/assets/images/svg/home-red.svg" alt="home">

                    <!--end svg home-->
                    <span class="menu-bar-item-text">
                        Home
                    </span>
                </a>

                <a href="javascript:void(0)" class="menu-bar-item menu-bar-item--active">
                    <!--start svg trip-->
                    <img src="/assets/images/svg/car.svg" alt="trip">

                    <!--end svg trip-->
                    <span class="menu-bar-item-text">
                        Trips
                    </span>
                </a>

                <a href="javascript:void(0)" class="menu-bar-item menu-bar-item--active">
                    <!--start svg travel-->
                    <img src="/assets/images/svg/travel.svg" alt="travel">

                    <!--end svg travel-->
                    <span class="menu-bar-item-text">
                        Travel
                    </span>
                </a>

                <a href="javascript:void(0)" class="menu-bar-item menu-bar-item--active">
                    <!--start svg setting-->
                    <img src="/assets/images/svg/setting.svg" alt="Setting">

                    <!--end svg setting-->
                    <span class="menu-bar-item-text">
                        Setting
                    </span>
                </a>

                <!-- #################################################################### -->
            </nav>
        </footer>
    </div>

    <script>

        function renderForProfileDetailPage() {
            window.location.href = '/profile/detail';
        }

        function renderForHomePage() {
            window.location.href = '/home';
        }

        document.querySelectorAll('.click-info').forEach(function (element) {
            element.addEventListener('click', function () {
                // ------------------------------------------
                renderForProfileDetailPage();
                // ------------------------------------------
            });
        });


        document.querySelectorAll('.click-home').forEach(function (element) {
            element.addEventListener('click', function () {
                // ------------------------------------------
                renderForHomePage();
                // ------------------------------------------
            });
        });
    </script>
</body>

</html>