<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Log In
    </title>
    <link rel="stylesheet" href="/assets/css/setting-style.css">
</head>

<body>
    <div class="app">
        <main class="app-body">
            <section class="section">
                <div class="card">
                    <div class="card-content">


                        <!-- ------------------------------------------------------  -->
                        <div class="slider-image">
                            <img src="/assets/images/profile.png" alt="Profile" />
                            <h2 class="title-center text-color-black">
                                User Name
                            </h2>
                        </div>
                        <!-- ------------------------------------------------------  -->


                        <!-- ------------------------------------------------------  -->
                        <div class="input-group">
                            <img src="/assets/images/svg/profile-small.svg" alt="skip" class="input-group-text" />
                            <input type="text" class="form-control click-info" value="Personal information" readonly>
                            <img src="/assets/images/svg/skip-small.svg" alt="skip"
                                class="input-group-text click-info" />
                        </div>
                        <!-- ------------------------------------------------------  -->


                        <!-- ------------------------------------------------------  -->
                        <div class="input-group">
                            <img src="/assets/images/svg/supervise.svg" alt="skip" class="input-group-text" />
                            <input type="text" class="form-control" value="Parents supervise" readonly>
                            <img src="/assets/images/svg/skip-small.svg" alt="skip" class="input-group-text" />
                        </div>
                        <!-- ------------------------------------------------------  -->


                        <!-- ------------------------------------------------------  -->
                        <div class="input-group">
                            <img src="/assets/images/svg/lang.svg" alt="skip" class="input-group-text" />
                            <input type="text" class="form-control" value="The language" readonly>
                            <img src="/assets/images/svg/skip-small.svg" alt="skip" class="input-group-text" />
                        </div>
                        <!-- ------------------------------------------------------  -->

                        <!-- ------------------------------------------------------  -->
                        <div class="input-group">
                            <img src="/assets/images/svg/notify.svg" alt="skip" class="input-group-text" />
                            <input type="text" class="form-control" value="Notifications" readonly>
                            <img src="/assets/images/svg/skip-small.svg" alt="skip" class="input-group-text" />
                        </div>
                        <!-- ------------------------------------------------------  -->

                        <hr>

                        <!-- ------------------------------------------------------  -->
                        <div class="input-group">
                            <img src="/assets/images/svg/error.svg" alt="skip" class="input-group-text" />
                            <input type="text" class="form-control" value="Frequently Asked Questions" readonly>
                        </div>
                        <!-- ------------------------------------------------------  -->


                        <!-- ------------------------------------------------------  -->
                        <div class="input-group">
                            <img src="/assets/images/svg/error.svg" alt="skip" class="input-group-text" />
                            <input type="text" class="form-control" value="privacy policy" readonly>
                        </div>
                        <!-- ------------------------------------------------------  -->


                        <!-- ------------------------------------------------------  -->
                        <div class="input-group">
                            <img src="/assets/images/svg/error.svg" alt="skip" class="input-group-text" />
                            <input type="text" class="form-control" style="color: red" value="Log out" readonly>
                        </div>
                        <!-- ------------------------------------------------------  -->

                    </div>
                    <button class="btn-custom">
                        Delete Acount
                    </button>

                </div>
            </section>
        </main>
    </div>

    <script>
        document.querySelectorAll('.click-info').forEach(function (element) {
            element.addEventListener('click', function () {
                // ------------------------------------------
                renderAnotherPage();
                // ------------------------------------------
            });



            function renderAnotherPage() {
                window.location.href = '/profile/detail';
            }
        });
    </script>

</body>

</html>