<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/introduction-page-1.css">
    <title>Page 1</title>
</head>

<body>
    <div class="app">
        <main class="app-body">
            <div class="card">
                <div class="card-content">
                    <h1 class="title-center">introduction 1</h1>

                    <div class="slider-image">
                        <img src="/assets/images/svg/logo-white.svg" alt="Logo">
                        <h2 class="title-center">You are the leader</h2>
                    </div>
                </div>
            </div>
        </main>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.body.addEventListener('click', function () {
                renderAnotherPage();
            });

            function renderAnotherPage() {
                window.location.href = '/introduction/page-2';
            }
        });
    </script>
</body>

</html>