*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --c-grey-000: #ffffff;
    --c-grey-100: #f7f5ff;
    --c-grey-800: rgba(0, 0, 0, 0.76);
    --c-red-000: red;
    --c-white-000: white;
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

body {
    font-family: "Lexend", sans-serif;
    min-height: 100vh;
    background-color: var(--c-grey-800);
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app {
    background-color: var(--c-red-000);
    width: 95%;
    max-width: 375px;
    height: 800px;
    overflow: hidden;
    border-radius: 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}

.card {
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.card-content {
    padding: 1.5rem;
    text-align: center;
}

.slider-image {
    text-align: center;
    margin-top: 30%;
}

.slider-image img {
    width: 80%;
    max-width: 200px;
    /* Adjust as necessary */
    display: block;
    margin: 0 auto;
}

.title-center {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: var(--c-white-000);
}
