<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        profile detail
    </title>
    <link rel="stylesheet" href="/assets/css/profile-detail-style.css">
</head>

<body>
    <div class="app">
        <main class="app-body">
            <section class="section">
                <div class="card">
                    <div class="card-content">
                        <div class="slider-image">
                            <img src="/assets/images/profile.png" alt="Logo" />
                            <div id="message" style="display: none; color: green; margin-top: 10px;">
                                Data has been updated successfully.
                            </div>
                        </div>
                        <div class="container">


                            <div id="loginForm">

                                <div class="input-container">
                                    <img class="icon" src="/assets/images/svg/profile-small-2.svg" alt="">
                                    <input class="input-field" type="text" value="User Name" readonly>
                                </div>

                                <div class="input-container">
                                    <img class="icon" src="/assets/images/svg/phone.svg" alt="">
                                    <input class="input-field" type="text" value="+0123456789" readonly>
                                </div>

                                <div class="input-container">
                                    <img class="icon" src="/assets/images/svg/e-mail.svg" alt="">
                                    <input class="input-field" type="email" value="user@gmail.com" readonly>
                                </div>

                                <div class="input-container">
                                    <img class="icon" src="/assets/images/svg/map-small.svg" alt="">
                                    <input class="input-field" type="text" value="Giza,Cairo" readonly>
                                </div>

                                <button type="submit" class="btn-submit btn-save">
                                    Save
                                </button>
                            </div>


                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script>

        function renderForSettingPage() {
            window.location.href = '/setting';
        }


        document.querySelectorAll('.btn-save').forEach(function (element) {
            element.addEventListener('click', function () {
                // ------------------------------------------
                // Show the update message
                document.getElementById('message').style.display = 'block';

                // Redirect after 3 seconds
                setTimeout(renderForSettingPage, 2000);
                // ------------------------------------------
            });
        });


    </script>
</body>

</html>